<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />



    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:noHistory="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicineMart"
        tools:targetApi="31">

        <receiver
            android:name=".activities.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOJOMLd2PlUclpuxzt5U1Bv73R4QqfN50"/>

        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:windowSoftInputMode="adjustNothing|stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PreLoadingActivity"/>
        <activity android:name=".activities.DangKyActivity"/>
        <activity android:name=".activities.DangNhapActivity"/>
        <activity android:name=".activities.TrangChuActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activities.CaptureAct"/>
        <activity android:name=".activities.ThongBaoActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <activity android:name=".activities.SearchActivity" android:windowSoftInputMode="adjustNothing|stateHidden|adjustResize"/>
        <activity android:name=".activities.DonHangActivity"/>
        <activity android:name=".activities.HoSoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CartActivity"/>
        <activity android:name=".activities.HoTroActivity"/>
        <activity android:name=".activities.ChiTietSanPhamActivity"/>
        <activity android:name=".activities.ThongTinTaiKhoanActivity"/>
        <activity android:name=".activities.DiaChiActivity"/>
        <activity android:name=".activities.DiaChiMoiActivity"/>
        <activity android:name=".activities.ChiTietDiaChiActivity"/>
        <activity android:name=".activities.ThanhToanActivity"/>
        <activity android:name=".activities.ThongTinDonHangActivity"/>
        <activity android:name=".activities.ChonDiaChiNhanHangActivity"/>
        <activity android:name=".activities.MapActivity"/>
    </application>

</manifest>